/******* BANNER *******/
.banner-container{
    padding-bottom: 50px;
}

.banner img{
    position: relative;
    width: 1400px;
    height: 100%;
}

.banner-texto{
    color: white;
    text-align: left;
    padding-left: 40px;
    position: absolute;
    top: 180px;
    left: auto;
    list-style-type: none;
}

.banner-texto1{
    font-size: 48px;
    padding-bottom: 20px; 
}

.banner-texto2{
    font-size: 30px;
    color: var(--cor4);
    padding-bottom: 20px;  
}

.banner-texto3{
    font-size: 20px;
}

#banner-btInfo{
    border-radius: 15px;
    background-color:var(--cor5);
    color:var(--cor6);
    font-weight: bold;
    border: 1px solid var(--cor5);
    height: 25px;
    padding: 0 20px 0 20px;
    display: inline-block;
    cursor: pointer;
}

#banner-btInfo:hover{
    background-color: var(--cor7);
    color: var(--cor8);
    border: 1px solid var(--cor7);
}

/******* COMPUTADOR DO BANNER *******/
.banner-imgpc{
    border: 2px solid red;
    position: absolute;
    display: flex;
    top: 180px;
    right: 100px;
    float: none;    
}
