/***** EQUIPA *******/
.equipa-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.equipa-imagens{
    margin-right: 30px;
    margin-bottom: 60px;  
}

.equipa-imagens img{
    border-radius: 50%;
}

.equipa-imagens img:hover{
    border-radius: 0%;
}
