/***** EQUIPA *******/
.equipa-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -30px;
}

.equipa-imagens{
    margin-right: 30px;
    display: flex;
    flex-flow: column;
}

.equipa-imagens img{
    border-radius: 50%;
    opacity: 1;
    transition: opacity 1s;
}

.equipa-imagens img:hover{
    border-radius: 0%;
}

.equipa-transicao{
    opacity: 0;
    position:relative;
    bottom: 90px;
    text-align: center;
    background-color: rgba(18, 18, 18, 0.5);
    color: var(--cor1);
    border: 10px;
    padding-bottom: 15px;
}

.equipa-Nome{
    font-size: 125%;
    font-weight: bold;
}

.equipa-ruiva:hover + .equipa-transicao {
    opacity: 1;
}


