.header{
    max-width:1400px; 
    background-color: var(--cor1);
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.header-logo{
    padding: 20px 10px;
    text-align: left;
}

/* TOOLTIP LOGO*/
.header-options {
    display: flex; 
    gap: 20px;
    width: 100px;
}

.header-options .header-options-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    top: 50px;
    text-align: center;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
}

.header-options:hover .header-options-text {
    visibility: visible;
}

/******** MENU NAVEGACAO **********/
.header-menu{
    background-color: var(--cor1);
    color: var(--cor2);
    height: 40px;
}

.header-menu ul{
    padding: 5px 0;
    margin: 0px;
    list-style-type: none;
    text-align: left;
}

.header-menu ul li{
    display: inline;
    margin-left: 80px;
}
  
.header-menu ul li a {
    color: var(--cor2);
    text-decoration: none;
    letter-spacing: 2px;
}

.header-menu ul li a:hover {
    color: var(--cor3);
}

