/***** MISSAO *******/
.missao{
    display: flex;
    justify-content: space-around; 
    align-items: left;
}

.missao-container{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;   
}

.missao img{
    display: flex;
    justify-content: space-around; 
    align-items: left;
    margin: 0px 60px 0px 60px;
}

.missao-texto{
    color: var(--cor9);
    max-width:1400px;
    display: inline-block;
    margin-block-start: 0;
    text-align: justify;
    margin: 0px 60px 60px 0px;
}

.missao-texto b{
    color: var(--cor8);
    font-size: 1.2em;
}

.missao-texto-conheca{
    color: var(--cor3);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.missao-texto-conheca:hover{
    text-decoration:underline;
}

@media only screen and (max-width: 800px) {
    .missao{
        width: 1400px;
        align-items: center;
    }

    .missao-texto{
        font-size:larger;
        text-align:left;
        padding-left: 50px;
    }

    .missao-container{
        flex-flow: column;
        align-items: center;
        padding-left: 200px;
        padding-right: 200px;
    }
}