.oferta{
    margin-bottom: -170px;
}

.oferta img{
    width: 1400px;
    height: 100%;
    margin-bottom: 50px;
}

.oferta-texto{
    text-align: center;
    display:block;
    position: relative;
    bottom: 460px;
    left: 0px;
    align-items: center;
    justify-content: center;
}

.oferta-texto1{
    font-size: 42px;
    color: var(--cor10);
    padding-bottom: 20px;
}

.oferta-texto2{
    font-size: 35px;
    color: var(--cor11);
    padding-bottom: 40px;
}

.oferta-texto3{
    font-size: 26px;
    color: var(--cor11);
}