/******** TELEFONE *****/
.telefone{
    border: 1px solid red;
    position: fixed;
    right: 0px;
    bottom: 50%;
    padding: 15px 25px;
    align-items: center;
    background-color: var(--cor8);
}

.telefone-numero{
    border: 1px solid red;
    background-color: var(--cor8);
    color: var(--cor13);
    width: 120px;
    text-align: center;
    position: fixed;
    bottom: 50%;
    right: 60px;
    padding: 2px 5px;

}

