/******** TELEFONE *****/
.telefone{
    position: fixed;
    right: 0px;
    bottom: 50%;
    align-items: center;
    background-color: var(--cor8);
    display: flex;
    justify-content: center;
    width: 60px;
    height: 51px;
    cursor: pointer;
    z-index: 1;
}

.telefone-numero{
    position: fixed;
    background-color: var(--cor8);
    color: var(--cor13);
    width: 120px;
    text-align: center;
    bottom: 50%;
    right: 60px;
    transform: translateX(200px);
    transition: transform ease-in-out 1s;
    z-index: 0;
}

.telefone:hover + .telefone-numero{
    transform: translateX(0);
    transition: transform ease-in-out 1s;
}

@media only screen and (max-width: 800px){
    .telefone{
        display: none;
    }
}